/*
.grid td {
  width: 40px;
  height: 40px;
  border: 2px solid orange;
  text-align: center;
  float: left;
  margin: 5px;
}

.grid td:hover {
  opacity: 0.7;
  cursor: pointer;
}

#leftseatsstyle {
  float: left;
  width: auto;
}
#middleseatsstyle {
  float: left;
  width: auto;
  margin-left: 5%;
}
#rightseatsstyle {
  float: left;
  width: auto;
  margin-left: 1%;
}
#passengerinfodiv {
  float: right;
  width: 40%;
}
#busdiv {
  float: left;
  width: 15%;
  margin: 5%;
}
*/
